<template>
  <layout-div>
    <h2 class="text-center mt-5 mb-3">Create New Task</h2>
    <div class="card">
        <div class="card-header">
            <router-link 
                class="btn btn-outline-info float-right"
                to="/">View All Tasks
            </router-link>
        </div>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label class="mb-3" htmlFor="title">Title</label>
                    <input 
                        v-model="title"
                        type="text"
                        class="form-control"
                        id="title"
                        name="title"/>
                </div>
                <div class="form-group">
                    <label class="mb-3 mt-3" htmlFor="state">State</label>
                    <select v-model="state" class="form-control">
                      <option value="To Do">To Do</option>
                      <option value="In Progress">In Progress</option>
                      <option value="Done">Done</option>
                    </select>
                </div>
                <button 
                    @click="handleSave()"
                    :disabled="isSaving"
                    type="button"
                    class="btn btn-outline-primary mt-3">
                    Save Task
                </button>
            </form>
        </div>
    </div>
  </layout-div>
</template>
 
<script>
import LayoutDiv from '../components/LayoutDiv.vue'
 
export default {
  name: 'CreateTask',
  components: {
    LayoutDiv,
  },
  data() {
    return {
        title: '',
        state: '',
      isSaving:false,
    };
  },
  methods: {
    handleSave() {
        this.isSaving = true

        fetch('https://crudapi.co.uk/api/v1/task', {
  body: JSON.stringify([{title: this.title, state: this.state, createdDate: new Date().toDateString()}]),
  headers: {
    Authorization: "Bearer " + process.env.VUE_APP_API_KEY,
    "Content-Type": "application/json"
  },
  method: "POST"
})
.then(response => response.json())
.then(data => {
  this.tasks = data.items.map(item => ({ title: item.title, state: item.state}))
  this.isSaving = false
})
    },
  },
};
</script>