<template>
  <layout-div>
    <div class="container">
            <h2 class="text-center mt-5 mb-3">Tasks Manager</h2>
            <div class="card">
                <div class="card-header">
                    <router-link to="/create"
                        class="btn btn-outline-primary"
                        >Create New Task
                    </router-link>
                </div>
                <div class="card-body">
             
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>State</th>
                                <th width="240px">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                             
                            <tr v-for="task in tasks" :key="task.id">
                                <td>{{task.title}}</td>
                                <td>{{task.state}}</td>
                                <td>
                                    <router-link :to="`/show/${task._uuid}`" class="btn btn-outline-info mx-1">Show</router-link>
                                    <router-link :to="`/edit/${task._uuid}`" class="btn btn-outline-success mx-1">Edit</router-link>
                                    <button 
                                        @click="handleDelete(task._uuid)"
                                        className="btn btn-outline-danger mx-1">
                                        Delete
                                    </button>
                                </td>
                            </tr>
                                 
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</layout-div>
</template>

<script>
import LayoutDiv from '../components/LayoutDiv.vue'
import CreateTask from './CreateTask.vue';
export default {
  name: 'ListTasks',
  components: {
    CreateTask,
    LayoutDiv
  },
  data() {
    return {
      tasks: []
    }
  },
  mounted() {
    fetch('https://crudapi.co.uk/api/v1/task', { method: 'GET', headers: { 'Authorization': 'Bearer ' + process.env.VUE_APP_API_KEY, 'Content-Type': 'application/json'}})
    .then(res => res.json())
    .then(data => this.tasks = data.items)
    .catch(err => console.log(err))
  },
  methods: {
    handleDelete(id) {
      fetch(`https://crudapi.co.uk/api/v1/task/${id}`, {
  headers: {
    Authorization: 'Bearer ' + process.env.VUE_APP_API_KEY,
    "Content-Type": "application/json"
  },
  method: "DELETE"
})
.then(res => res.json())
    .then(data => this.tasks = this.tasks.filter(task => task._uuid != id))
    .catch(err => console.log(err))
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

body {
  margin: 0;
  background: #eee;
}

nav {
  padding: 30px;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
}

nav a.router-link-exact-active {
  color: #42b983;
}
</style>
