<template>
  <layout-div>
  <div v-if="task">
    <h1>Task details</h1>
  <p>Title: {{ task.title }}</p>
  <p>State: {{ task.state }}</p>
  <p v-if="task.createdDate" >Created date: {{ task.createdDate }}</p>
  <p v-if="task.finishedDate">Finish date: {{ task.finishedDate }}</p>
  </div>
  <div v-else>
    Loading task details...
  </div>
</layout-div>
</template>

<script>
import LayoutDiv from '../components/LayoutDiv.vue'
export default {
  name: 'ShowTask',
  components: {
    LayoutDiv,
  },
  data() {
    return {
      task: null
    }
  },
  mounted() {
    const id = this.$route.params.id
    fetch(`https://crudapi.co.uk/api/v1/task/${id}`, { method: 'GET', headers: { 'Authorization': 'Bearer ' + process.env.VUE_APP_API_KEY, 'Content-Type': 'application/json'}})
    .then(res => res.json())
    .then(data => this.task = data)
    .catch(err => console.log(err))
  }
}
</script>

<style>
</style>